import SwiftUI

public enum __CAPNAME__ComponentVariants {
    case generic

}

/// Add a short description here about the config
public class __CAPNAME__ComponentConfig: ObservableObject {
    @Published public var someProperty: String = "Default Value"  // Default value
    @Published public var variant: __CAPNAME__ComponentVariants = .generic

    public let textColor: Color = .black
}
