import Vapor
import Foundation
import Queues

internal struct __CAPNAME__JobInput: Codable {

}

internal struct __CAPNAME__AsyncJob: AsyncJob {
    public typealias Payload = __CAPNAME__JobInput

    /// This is where you would run code for the job
    public func dequeue(_ context: QueueContext, _ payload: __CAPNAME__JobInput) async throws {
        // This is where you would run code for the job
    }

    /// Handle job errors
    public func error(_ context: QueueContext, _ error: Error, _ payload: __CAPNAME__JobInput) async throws {
        // If you don't want to handle errors you can simply return. You can also omit this function entirely.
    }
}
