import Vapor

struct __CAPNAME__Proc: Command {
    var help: String {
        "The HELP Text here!"
    }

    struct Signature: CommandSignature {
        @Argument(
            name: "echo",
        )
        var echo: String
    }

    func run(using _: CommandContext, signature: Signature) throws {
        let echo = signature.echo

        print(echo)
    }
}
