import Fluent

internal struct __CAPNAME__Migration__TIMESTAMP__: AsyncMigration {
    /// Prepare `__CAPNAME__` migration
    public func prepare(on database: Database) async throws {
        try await database.schema("__CAPNAME_DASHED__")
            .id()
            .field("updated_at", .datetime)
            .field("created_at", .datetime)
            .field("deleted_at", .datetime)
            .create()
    }

    /// Revert `__CAPNAME__` migration
    public func revert(on database: Database) async throws {
        try await database.schema("__CAPNAME_DASHED__").delete()
    }
}
