import AutomaUIKit
import SwiftUI

/// Represents a screen view for `__CAPNAME__`.
public struct __CAPNAME__Screen: View {
    /// Initializes a new instance of `__CAPNAME__Screen`.
    public init() {}

    /// The body of the screen view.
    public var body: some View {
        Text("Hello, World!")
    }
}

#Preview {
    __CAPNAME__Screen()
}
