import AutomaUIKit
import SwiftUI

/// Documentation Here
public struct __CAPNAME__Screen: View {
    public init() {}

    public var body: some View {
        Text("Hello, World!")
    }
}

#Preview {
    __CAPNAME__Screen()
}
