import XCTest
import SwiftUI
import ViewInspector

@testable import AutomaUIKit

class __CAPNAME__ComponentTests: XCTestCase {
    // one test case per method
    // one test case per completed flow (action)
    // one test case per potential edge-case
    @MainActor func testIntegration() throws {
        // let component = Text("HI").____CAPNAME_HASKELL__()
        // XCTAssertNotNil(component)
    }
}
