import SwiftUI
// Add a preview per state difference (No need to add all states)

struct __CAPNAME__Modifier_Previews: PreviewProvider {
    static var previews: some View {
        __CAPNAME__ModifierWrapperView()
    }
}

struct __CAPNAME__ModifierWrapperView: View {
    var body: some View {
        // TODO: Add the previews here
    }
}
